<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">Primenator</a>
      <p class="navbar-text">Prime Number Generator</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form-inline">
        <div class="form-group">
          <label>Lower Bound</label>
          <input type="number" class="form-control" formControlName="lower">
        </div>
        <div class="form-group">
          <label>Upper Bound</label>
          <input type="number" class="form-control" formControlName="upper">
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!myForm.valid">Generate!</button>
        <small [hidden]="isValid" class="text-danger">
          {{errorText}}
        </small>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3>Results</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let prime of primeList">{{prime}}</li>
      </ul>
    </div>
  </div>
</div>
